* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #8D5ABF, black);
    background-attachment: fixed;
    font-family: 'Varela Round';
}

header {
    /* color: white; */
    color: rgb(44, 223, 184);
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

header h2 {
    font-size: 80px;
    padding-top: 50px;
}

.navbar {
    /* position: sticky; */
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: rgb(44, 223, 184);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    transform: translateX(-105%);
    transition: transform 0.5s ease;
    z-index: 11;
    justify-content: left;
    text-align: left;
}

.li-container {
    background-color: rgb(44, 223, 184);
    color: black;
    margin: 10px auto;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    cursor: pointer;
}

button.li-container {
    appearance: none;
    -webkit-appearance: none;
}



.li-container:hover {
    background-color: black;
    color: #8D5ABF;
    transition: all 0.5s ease;
}

.navbar li {
    font-size: 20px;
    list-style: none;
}

.hover-zone {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 10;
}

.navbar.open {
    transform: translateX(0);
}

.arrow-toggle {
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background-color: #8D5ABF;
    color: black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9;
    font-size: 24px;
    transition: left 0.3s ease;
}

.arrow-toggle:hover {
    background-color: #6A4B9E;
}


.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section {
    display: flex;
    color: white;
    align-items: center;
    width: 75%;
    height: auto;
    text-align: center;
    padding: 45px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.section div {
    flex: 1;
    /* background-color: lightblue; */
    /* border: 1px solid #ffffff; */
    margin: 20px;
}

.section h1 {
    font-size: 50px;
    color:rgb(44, 223, 184);
    padding: 15px;
}

.section p {
    font-size: 30px;
    padding: 10px;
    color: rgb(44, 223, 184);
}

.section button {
    background: linear-gradient(90deg, #8D5ABF, rgb(44, 223, 184));
    border: 3px solid transparent;
    border-radius: 30px;
    color: black;
    background-clip: padding-box;

    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

    overflow: hidden;
    transition: all 0.3s ease;
}

.section button:hover {
    border: 3px solid black;
}

.sm-section p {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 35%;
    padding-right: 35%;
}

.icon-container button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
}

.icon-container button img {
    width: 80px;
    height: 80px;
}

footer {
    background-color: rgb(44, 223, 184);
    padding: 50px;
    text-align: center;
    color: black;
}

footer p {
    font-size: 20px;
}