html, body {
    background-color: rgb(245, 213, 258);
}

button {
    background: none;
    border: none;
    padding: none;
    transform: rotate(180deg); /*upside down*/
}

.top_center { /*place at the top of the page*/
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    /* border: 1px solid black; */
}

#imgleft img {
    display: block;
    margin-left: auto; /* Pushes the image to the right */
    width: 80%;
}

#imgright img {
    display: block; /* Removes inline display behavior */
    margin-right: auto; /* Pushes the image to the left */
    width: 80%;
}

.column p {
    display: block;
    margin-right: auto;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0; /* this is not working to center the text vertically*/
}

p {
    text-align: center;
    font-size: 30px;
    margin: 20px; /*fix to be more centered, leave room on the sides*/
}