* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /*to cover viewport fully, position images at the bottom half*/
    overflow: hidden; /* Disable scrolling */
    background-color: black;

   /* display: flex; 
    justify-content: center;
    align-items: center; */
}

h1, p{
    position: absolute;
    color: rgb(44, 223, 184);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the h1 */
    /* font-size: 5rem; */
    font-size: 500%;
    font-family: 'Varela Round';
}

p {
    font-size: 1.875rem;
    top: 52.5%;
    text-align: center;
    text-shadow: none;
    color: rgb(44, 223, 184);
}

button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(90deg, #8D5ABF, rgb(44, 223, 184));
    background-clip: padding-box;
    color: black;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;

    border: 2px solid transparent;
    border-radius: 30px;

    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

button:hover {
    border: 3px solid black;
}