* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

h1, p{
    position: absolute;
    color: rgb(44, 223, 184);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 80px; */
    /* font-size: 500%; */
    font-size: 5.208vw;
    font-family: 'Varela Round';
}

p {
    font-size: 1.953vw;
    top: 52.5%;
    text-align: center;
    text-shadow: none;
    color: rgb(44, 223, 184);
}

button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(90deg, #8D5ABF, rgb(44, 223, 184));
    background-clip: padding-box;
    color: black;
    padding: 15px 30px;
    font-size: 1.302vw;
    font-weight: bold;

    border: 2px solid transparent;
    border-radius: 30px;

    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;

    width: 18%;
    height: auto;
}

button:hover {
    border: 3px solid black;
}